 
.Navbar {
    position: fixed; /* Makes the navbar stay fixed at the top */
    top: 0; /* Aligns it to the top of the page */
    width: 100%; /* Ensures the navbar spans the full width of the viewport */
    z-index: 1000; /* Keeps it above other content on the page */
    background-color: rgb(191, 32, 32); /* Prevents content from showing behind the navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow for depth */
    padding: 0; /* Adjust the top/bottom padding */
}

body {
    padding-top: 60px; /* Prevents the content from hiding behind the navbar */
}

/* Branding styles */
.farmone-brand {
    color: #28a745 !important;
    font-weight: 700;
    font-size: 1.6rem !important;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
}

/* Nav Link styles */
.nav-link {
    color: #413f3f !important;
    padding: 0 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #28a745!important;
}

/* Login Button styles */
.login-button {
    background-color: #FFD700 !important;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px !important;
    border: 2px solid #FFD700;
    font-weight: bold !important;
    text-align: center;
    width: 130px;
    transition: all 0.2s ease;
}

.login-button:hover {
    background-color: #FFA500;
    color: #010101;
    border-color: #FFA500;
    transform: scale(1.1);
}
.Navbar .cart-icon {
    position: relative;
    display: inline-block;
}

.Navbar .cart-icon .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.6em;
    font-size: 0.8rem;
    font-weight: bold;
}
